<!DOCTYPE html>
<html>
  <head>
    <title>My Address Book || Who dis</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="">
    <header>
      <h1 class="text-blue-500 text-4xl text-center my-5">
        <%= detail.civility %> <%= detail.name %> <%= detail.firstname %>
      </h1>
    </header>
    <main class="text-center">
      <div
        class="text-blue-300 text-xl flex flex-col justify-center items-center m-5"
      >
        <p id="dateDisplay"><%= detail.birthday %></p>
        <p><%= detail.telephone %></p>
        <p><%= detail.email %></p>
      </div>

      <a
        href="/"
        class="bg-blue-300 px-4 p-2 m-5 rounded border-solid border-2 border-white text-white text-xl"
        >Go Back</a
      >
    </main>
    <script src="/public/javascripts/dateFormat.js"></script>
  </body>
</html>
